header
    .header
        picture.logo
            img.logo__img(src="img/logo.png" alt='logo')
        ul.nav
            li.nav__list  
                a.nav__link(href="#") Home   
            li.nav__list  
                a.nav__link(href="#") About  
            li.nav__list   
                a.nav__link(href="#") Product
            li.nav__list   
                a.nav__link(href="#") Pricing
            li.nav__list 
                a.nav__link(href='#') Contact