header
    .header
        picture.logo
            img.logo__img(src="img/logo.png" alt='logo')
        ul.nav
            li.nav__list Home
            li.nav__list About
            li.nav__list Product
            li.nav__list Pricing
            li.nav__list Contact