section.introduction
    img.triangle(src="img/triangle.png")
    .introduction__box-info
        h2 Showcase Your App!
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem quae ab illo 
          |inventore veritatis et quasi architecto and the most beatae dicta sunt
          |explicabo.
        .box-info__button-container
            a.box-info__button-start(href="#" class="active") Plans & Pricing
            a.box-info__button-start(href="#") Start Now
    .background-container
        img.phones(src="img/phones.png", alt="телефончики")

    