

header{
    width: 100vw;
    background-color: #21212E;
    height: 7vw;
}
.header{
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    height: 7vw;
    align-items: center;
    
}
.logo{
    &__img{
        vertical-align: bottom;
    }
}
.nav{
    align-items: center;
    display: flex;
    list-style: none;
    height: 56px;
    
    &__link:not(:first-child){
        padding-left: 55px;   
    }
    &__link{
        text-decoration: none;
        color: #66667E;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Muli', sans-serif;
        display: inline-block;
        padding: 10px 40px;
    }
    &__link:hover{
        color: #fff;
        border: 2px solid #fff;
        border-radius: 8px;
        margin: -2px;
        transition: 0.1s;
    }
}